<nav>
  <h3 class="header">Account Login</h3>
</nav>

<div class="container">
  <h1 class="title">Account Login</h1>
  <form action="/" method="POST">
    <div class="form-group">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Password">
      <button type="submit">Sign in</button>
    </div>
  </form>
</div>