<nav>
  <h3 class="header">Account Login</h3>
</nav>

<div class="container">
  <h1 class="title">Account Login</h1>

  <div class="result">
    {{#if result}}
    <p>{{result}}</p>
    {{/if}}
  </div>
  <form action="/login" method="POST">
    <div class="form-group">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Sign in</button>
    </div>
  </form>
</div>